<h1 class="title">Colors</h1>
<p class="subtitle">
<%= link_to "New color", new_backoffice_color_path %>
</p>

<div id="colors">
  <% @colors.each do |color| %>
    <%= link_to [:backoffice, color] do %>
    <span class="tag" style="background-color: <%= color.value %>;">
      <%= render color %>
    </span>
    <% end %>
  <% end %>
</div>

