<h1 class="title">Colors</h1>
<p class="subtitle">
<%= link_to "New color", new_backoffice_color_path %>
</p>

<div id="colors">
  <%= render @colors, partial: "/api/colors/color", as: :color %>
</div>

