<%= form_with(model: [:backoffice, quality]) do |form| %>
  <% if quality.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quality.errors.count, "error") %> prohibited this quality from being saved:</h2>

      <ul>
        <% quality.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
