<div id="<%= dom_id quality %>">
    <div class="columns">
      <div class="column">
        <span class="tag is-pulled-right"><%= quality.antithesis%></span>
      </div>
      <div class="column">
        <progress class="progress" value="5" min="0" max="10"></progress>
      </div>
      <div class="column">
        <span class="tag"><%= quality.thesis %></span>
      </div>
    </div>
</div>
