<div id="<%= dom_id quality %>">
  <span class="tag is-link">
    <%= quality.antithesis%>
  </span>
  <progress class="progress" value="5" min="0" max="10">5</progress>
  <span class="tag is-primary">
    <%= quality.thesis %>
  </span>
</div>
