<div id="<%= dom_id quality %>">
  <p class="subtitle is-3"><%= quality.name %></p>
  <span class="tag is-link">
    <%= quality.antithesis%>
  </span>
  <span class="tag is-primary">
    <%= quality.thesis %>
  </span>
</div>
