<h1>Editing quality</h1>

<%= render "form", quality: @quality %>

<br>

<div>
  <%= link_to "Show this quality", [:backoffice, @quality] %> |
  <%= link_to "Back to qualities", backoffice_qualities_path %>
</div>
