<h1>Editing dimension</h1>

<%= turbo_frame_tag :dimension do %>
  <%= render "form", dimension: @dimension %>
<% end %>

<br>

<div>
  <%= link_to "Show this dimension", [:backoffice, @dimension] %> |
  <%= link_to "Back to dimensions", backoffice_dimensions_path %>
</div>
