<h1 class="title">Dimensions</h1>
<p class="subtitle">
  <%= link_to "New dimension", new_backoffice_dimension_path %>
</p>

<%= turbo_frame_tag :dimensions do %>
<div id="dimensions">
  <% @dimensions.each do |dimension| %>
    <%= render dimension %>
  <% end %>
</div>
<% end %>
