<section class="hero is-large">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title has-text-success">
        <%= image_tag "logo.svg" %>
      </p>
    </div>
  </div>
</section>