<div id="<%= dom_id font %>"class="content">
  <div class="title is-4">
    <%= font.name %>
  </div>
  <%= turbo_frame_tag :dimensions, src: backoffice_dimensions_path(dimensionable_id: font.id) %>
</div>